<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <!-- Set the log file path to save logs in the application directory -->
        <Property name="log-path">E:\practice\producer-consumer-track\application.log</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- File Appender (Logs will be saved in 'logs/application.log') -->
        <RollingFile name="FileLogger" fileName="${log-path}"
                     filePattern="logs/application-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- No new log file should be created on application restart -->
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root logger to log everything into console and file -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

        <!-- Custom Logger for Application -->
        <Logger name="com.dev" level="debug" additivity="false">
            <AppenderRef ref="FileLogger"/>
        </Logger>
    </Loggers>
</Configuration>
